@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;700&display=swap');

:root {
  --primary: #ffffff;
  --secondary: #23AD3E;
  --tertiary: #000000;
  --font-tittle: 'Arimo', sans-serif;
  --font-subtittle: 'sans-serif';
  --font-size-tittle: 6vh;
  --font-size-subtittle: 3vh;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 20px;
  box-sizing: border-box;
  font-family: var(--font-tittle);
  background-color: var(--primary);
}

body{
  height: 200vh;
}

.container-fluid{
  max-height: 20vh;
}

.container-fluid > img{
  height: 100px;
}